.text  {
    /* font-family: 'Open Sans'; */
    white-space: pre-wrap;
}

.top-circle {
    width: 100vw;
    height: 30vh;
    border-radius:  0 0 10rem 10rem;
    background-color: rgba(26, 26, 26, 0.10);
}
