#myvideo {
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    object-fit: cover;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    /* padding: 20px; */
}
.react-player {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}
.my-component {
    background: #fff;
}
  
.fullscreen-enabled .my-component {
    background: #000;
    z-index: 100;
}