.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-form-item-label label {
  font-size: 20px;
}
label{
  font-size: 20px;
}

.scrollmenu {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  white-space: nowrap;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollmenu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollmenu {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.footer {  
  position: fixed;
  width: 100%;
  bottom: 0;  
  left: 0;
}

#border-radius-bottom {
  -moz-border-radius-bottomleft: 100%100px;
  -webkit-border-bottom-left-radius: 100%100px;
  border-bottom-left-radius: 100%100px;
  -moz-border-radius-bottomright: 100%100px;
  -webkit-border-bottom-right-radius: 100%100px;
  border-bottom-right-radius: 100%100px;
}